body{
    margin: 0;
    font-family: Arial, sans-serif;
}
.navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #fff;
}

.navbar-top p {
    margin: 0;
    color: #333;
}

.navbar-top-right {
    display: flex;
    gap: 20px;
}

.navbar-top-right a {
    text-decoration: none;
    color: #333;
}

.navbar-top-right a:hover {
    color: #3C7AC0;
    text-decoration: underline;
}
.navbar-bottom {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #f2f2f2;
}

.navbar-bottom svg {
    margin-right: 20px;
}

.navbar-bottom-left {
    display: flex;
    gap: 20px;
}

.navbar-bottom-left a {
    text-decoration: none;
    color: #333;
}
.navbar-bottom-left a:hover {
    color: #3C7AC0;
    text-decoration: underline;
}
/* .navbar-bottom input[type="text"] {
    border: none;
    outline: none;
    background-color: #f2f2f2;
    padding: 5px 10px;
    border-radius: 5px;
} */

.navbar-bottom i {
    margin-left: 10px;
    color: #888;
    cursor: pointer;
    font-size: 25px;
}
.navbar-bottom-right {
    display: flex;
    gap: 30px;
    margin-left: auto;
}
.navbar-bottom-right i:hover {
    color: #3C7AC0;
}
.navbar-bottom-search {
    position: relative;
    width: 200px; /* អាចប្តូរតាមការចង់បាន */
    margin-left: 100px;
}

.navbar-bottom-search i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 16px;
    pointer-events: none;
}

.navbar-bottom-search input {
    width: 100%;
    padding: 8px 10px 8px 35px; /* ផ្ដល់កន្លែងឱ្យ icon */
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
}
