*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #0099ff;
}
.main-container{
    width: 100%;
    
}
.second-container{
    width: 100%;
    height: 100vh;
    background-color: #0099ff;
}